<div class="container mt-5 mb-5">
    <div class="row">
        <div class="col-md-8">
            <h1 class="text-center text-info">About Us</h1>
            <p class="text-center">Your home for health</p>
            <p>For millions of people, Practo is the trusted and familiar home where they know they’ll find a healing touch. It connects them with everything they need to take good care of themselves and their family - assessing health issues, finding the right doctor, booking diagnostic tests, obtaining medicines, storing health records or learning new ways to live healthier.</p>
            <p>Healthcare providers can also harness the power of Practo as the definitive platform that helps them build their presence, grow establishments and engage patients more deeply than ever.</p>
        </div>
        <div class="col-md-4">
            <img src="./assets/images/blog-bg.jpg" width="100%" height="300px;">
        </div>
    </div>
    
    
</div>
<div class="row px-5 py-5" style="background-image: url('./assets/images/bg-2.jpg')">
    <div class="col-md-6">
        <div class="container">
            <h1 class="text-info">Diverse people.<br>
            One purpose.</h1>
            <p class="text-secondary">We are dreamers, thinkers and do-ers rolled into one.Together, we want to improve the healthcare experience for all humanity. We are guided by our values and driven by our motto to do great. These are not just principles for our products or our company, but they are a reflection of who we are as people.</p>
        </div>
    </div>
    <div class="col-md-6">

    </div>
</div>
 