<div class="container">
        <div class="row mt-5">
            <div class="col-md-2">
                    
            </div>
            <div class="col-md-8 mt-5">
                    <div *ngIf="b">
                        <div *ngFor="let currentUser of currentUser">
                        <h2 class="text-center text-dark">Welcome {{currentUser.duname}}</h2>
                    <table class="table table-bordered h6 ">
                        <tr>
                            <td>Name</td>
                            <td>{{currentUser.duname}}</td>
                        </tr>
                        <tr>
                            <td>Date Of Birth</td>
                            <td>{{currentUser.date}}</td>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>{{currentUser.email}}</td>
                        </tr>
                        <tr>
                            <td>Mobile No</td>
                            <td>{{currentUser.mobileno}}</td>
                        </tr>
                        <tr>
                            <td>Area</td>
                            <td>{{currentUser.area}}</td>
                        </tr>
                        <tr>
                            <td>Specialization</td>
                            <td>{{currentUser.specialization}}</td>
                        </tr>
                        <tr>
                            <td>Experience</td>
                            <td>{{currentUser.experience}}</td>
                        </tr>
                        <tr>
                            <td>Timings</td>
                            <td>{{currentUser.timings}}</td>
                        </tr>
                        <tr>
                            <td>About</td>
                            <td>{{currentUser.about}}</td>
                        </tr>
    
                    </table>
                    <button type="submit" class="btn btn-info d-block mx-auto" (click)="edit(currentUser)">Edit</button>
                    </div>
                </div>
    
    
                    <div *ngIf="!b">
                            <h2 class="text-center bg-dark text-light">Edit Profile</h2>
                            
                        <form #ref="ngForm" (ngSubmit)="submitEditData(ref.value)">
                                <table class="table table-bordered h6">
                                        <tr>
                                            <td>name</td>
                                            <td><input type="text" name="duname" id="" value="objectToUpdate.duname" class="form-control" [(ngModel)]=objectToUpdate.duname></td>
                                        </tr>
                                        <tr>
                                            <td>dob</td>
                                            <td><input type="text" name="date" value="objectToUpdate.date" class="form-control" [(ngModel)]=objectToUpdate.date></td>
                                        </tr>
                                        <tr>
                                            <td>email</td>
                                            <td><input type="text" name="email" value="objectToUpdate.email" class="form-control" [(ngModel)]=objectToUpdate.email></td>
                                        </tr>
                                        <tr>
                                            <td>phone</td>
                                            <td><input type="text" name="mobileno" value="objectToUpdate.mobileno" class="form-control" [(ngModel)]=objectToUpdate.mobileno></td>
                                        </tr>
                                        <tr>
                                            <td>area</td>
                                            <td><input type="text" name="area" value="objectToUpdate.area" class="form-control" [(ngModel)]=objectToUpdate.area></td>
                                        </tr>
                                        <tr>
                                            <td>specialization</td>
                                            <td><input type="text" name="specialization" value="objectToUpdate.specialization" class="form-control" [(ngModel)]=objectToUpdate.specialization></td>
                                        </tr>
                                        <tr>
                                            <td>experience</td>
                                            <td><input type="text" name="experience" value="objectToUpdate.experience" class="form-control" [(ngModel)]=objectToUpdate.experience></td>
                                        </tr>
                                        <tr>
                                            <td>timings</td>
                                            <td><input type="text" name="timings" value="objectToUpdate.timings" class="form-control" [(ngModel)]=objectToUpdate.timings></td>
                                        </tr>
                                        <tr>
                                            <td>about</td>
                                            <td><input type="text" name="about" value="objectToUpdate.about" class="form-control" [(ngModel)]=objectToUpdate.about></td>
                                        </tr>
                                        <tr>
                                            <td><button type="submit" class="btn btn-info">Save</button></td>
                                        </tr>
                                    </table>
                        </form>
                        </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>
    