

  <div>
        <!-- A grey horizontal navbar that becomes vertical on small screens -->
      <nav class="navbar navbar-expand-sm bg-dark">
          
        <!-- Links -->
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a routerLink="/doctordashboard/profile" class="nav-link text-white">Profile</a>
          </li>
          <li class="nav-item">
            <a routerLink="/doctordashboard/viewrequests" class="nav-link text-white">View Requests</a>
          </li>
          <li class="nav-item">
              <a routerLink="/doctordashboard/myappointments" class="nav-link text-white">My Appointments</a>
            </li>
          <li class="nav-item">
              <a routerLink="/doctordashboard/paymentstatus" class="nav-link text-white">Payment Status</a>
            </li>
          <li class="nav-item">
                <button type="submit" class="nav-link btn btn-info mr-3" (click)="logout()">Logout</button>
          </li>
          
          
          
          
        </ul>
      </nav>
      <router-outlet></router-outlet>
        </div>
      
    
    