<div style="background-image: url(assets/images/contact.jpg)">
    <div class="row">
        <div class="col-md-6"></div>
        <div class="col-md-6">
            <table class="table">
                <tr>
                    <th>Email :</th>
                    <td>support@example.com</td>
                </tr>
                <tr>
                    <th>Mobile No :</th>
                    <td>11111 11111</td>
                </tr>
                <tr>
                    <th>Address :</th>
                    <td>plotno -1, sample strret, sample city</td>
                </tr>
            </table>
        </div>
    </div>
</div>