<!--Start Carousel-->
<div id="demo" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#demo" data-slide-to="0" class="active"></li>
      <li data-target="#demo" data-slide-to="1"></li>
      <li data-target="#demo" data-slide-to="2"></li>
    </ul>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="./assets/images/slide1.jpg" alt="" width="100%" height="600">
        <div class="carousel-caption">
          <h1>Get well. Stay well. Live well</h1>
          <p>Local healthcare experts available online anytime</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="./assets/images/slide2.jpg" alt="" width="100%" height="600">
        <div class="carousel-caption">
          <h1>Convenient healthcare for life</h1>
          <p>Find & book with your local healthcare expert, online 24/7</p>
        </div>   
      </div>
      <div class="carousel-item">
        <img src="./assets/images/slide3.jpg" alt="New York" width="100%" height="600">
        <div class="carousel-caption">
          <h1>Find a health expert when you need one most</h1>
          <p>Book a doctor, dentist, optometrist and more online, 24/7</p>
        </div>   
      </div>
    </div>
    <a class="carousel-control-prev" href="#demo" data-slide="prev">
      <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#demo" data-slide="next">
      <span class="carousel-control-next-icon"></span>
    </a>
  </div>
  <!--End Carousel-->
  
  <!--Start About Us-->
  <div class="container mt-5">
    <div class="row">
      <div class="col-md-8">
        <h4 class="text-center text-info">About Us</h4><br/>
  <p>
      Advances in treatments and techniques happen here first. Our Group is a collaborative community of experts,
       empowered by outstanding technology, so that our hospitals can make significant breakthroughs and translate 
       them swiftly into medical treatments.
      <br/><br/> 
      We are experts at what we do. Patients can be assured that they would receive quality healthcare,
       where the most advanced treatments are delivered by the field’s leading medical professionals.
       <br/><br/>
       Patients at our hospitals receive personalized care and treatment from doctors and staff who
        take time to get to know them. Here, under one umbrella are expert medical consultants, certified medical staff,
         skilled surgeons, state-of-the-art technology and facilities, as well as support groups, 
         and social workers – all dedicated to treatment and recovery of the patients.
      
  </p>
      </div>
      <div class="col-md-4">
        <img src="assets/images/about.png" style="height:400px">
      </div>
  
    </div>
    </div>
    <div class="container mt-5">
        <h4 class="text-center text-info">Why Choose Us?</h4>
      <div class="card-deck bg-dark">
        <div class="card">
          <div class="card-body">
            <h6>Certified Doctors</h6>
            <p>It is also worth noting that today many doctor's sub-specialize, 
                including dermatologists.   
                 It may not be enough that they are just qualified to do so.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
              <h6>24/7 Available</h6>
              <p>Provides 24*7 access at any time and from any where. And also provides a user friendly interface.</p>
          </div>
        </div>
        <div class="card">
          <div class="card-body">
              <h6>All Specialized Doctors</h6>
              <p>Members of this esteemed organization are recognized for their expertise
                   and professionalism in performing circumcision.  
                   </p>
          </div>
        </div>   
      </div>
      
     
      
    </div>
  
  <!--End Why Choose Us-->
  
  <!--Start How It Works-->
  <div class="jumbotron works">
      <h4 class="text-center mb-5 text-info">How it works?</h4>
      <div class="card-deck text-center">
          <div class="card">
              <div class="card-header">
                <h5 class="text-info"><span class="num">step 1</span></h5>  
                
              </div>
              <div class="card-body bg-info">
                    <i class="fa fa-lock text-white"></i>
              </div>
              <div class="card-footer">
                  <h4 class="text-info">Register & Login</h4>
                    <p>A patient can register with basic information like name, email, city, mobile number, location and login with the credentials</p>
              </div>
          </div>
          <div class="card">
              <div class="card-header">
                <h5 class="text-info"><span class="num">step 2</span></h5>  
                
              </div>
              <div class="card-body bg-info">
                    <i class="fa fa-calendar text-white"></i>
              </div>
              <div class="card-footer">
                  <h4 class="text-info">Book Appoinment</h4>
                    <p>No more waiting for hours in a walk-in clinic, or weeks to see your family doctor. Doctors on your schedule, all online.</p>
              </div>
          </div>
          <div class="card">
              <div class="card-header">
                <h5 class="text-info"><span class="num">step 3</span></h5>  
                
              </div>
              <div class="card-body bg-info">
                    <i class="fa fa-user-md text-white"></i>
              </div>
              <div class="card-footer">
                  <h4 class="text-info">Visit Doctor</h4>
                    <p>Once the appoinment is book with your preffered doctor with your schedule then Patient can visit doctor without wating in queue</p>
              </div>
          </div>
          
      </div>
  </div>
  <!--End How It Works-->